nav {
    background-color: rgb(52, 148, 212);
    color: pink;
    font-size: 500px;
    font-family: cursive;
}

#logoImg {
    width: 132px;
    border-radius: 69%;
}

header {
    background-color: rgb(224, 165, 180);
    text-align: center;
}

body {
    max-width: 70%;
    text-align: center;
    margin: auto;
}

header nav,
footer {
    padding: 20px;
    background-color: rgb(52, 148, 212);
    ;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    margin-top: 34px;
}

header img {
    border-radius: 59%;
    width: 200px;
    margin-top: -114px;
    border: dashed 1pxrgb(52, 148, 212);
}

a {
    text-decoration: none;
    color: white;
}

ul {
    display: inline;
}

#ul1 {
    margin-right: 335px;
    margin-left: -71px;
}

li {
    display: inline;
    padding-left: 10px;
}

h2,
h3 {
    font-family: 'Great Vibes', cursive;
    color: rgb(52, 148, 212);
    ;
    font-size: 52px;
}